*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
/*region  header*/
.primary_container{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.col_3{
    width: calc(100% / 12 * 4);
    
}
.dx{
    text-align: end;
}
.col_3 a{
    padding-left: 1.5rem;
    text-decoration: none;
    color: black;
}
.register{
    margin-left: 1.5rem;
    background-color: rgb(8, 95, 234);
    border-color: rgba(0, 97, 255, 1);
    padding: 0.5rem 1rem;
    color: white;

}
/*end region header*/
/*region main*/
/*region container presentation*/
.presentation{
    position: relative;
    height: 750px;
}
.ds{
    background-color: rgba(180, 208, 231, 1);
    height: 600px;
}
h1{
    font-size: 4.70rem;
    position: absolute;
    left:20rem;
    top: 5rem;
}
.ds-left{
    position: absolute;
    padding-top: 3.5rem;
    width: 20%;
    left: 20rem;
    top:15rem;
}
.pv_free{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    background-color: rgb(8, 95, 234);
    border-color: rgba(0, 97, 255, 1);
    padding: 0.75rem ;
    color: white;
}
.ds img{
    width: 40%;
    position:absolute;
    left: 42.5rem;
    top:18.5rem;
}