*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
/*region  header*/
.primary_container{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.col_4{
    width: calc(100% / 12 * 4);
    
}
.dx{
    text-align: end;
}
.col_4 a{
    padding-left: 1.5rem;
    text-decoration: none;
    color: black;
}
.register{
    margin-left: 1.5rem;
    background-color: rgb(8, 95, 234);
    border-color: rgba(0, 97, 255, 1);
    padding: 0.5rem 1rem;
    color: white;

}
/*end region header*/
/*region main*/
/*region container presentation*/
.presentation{
    position: relative;
    height: 750px;
}
.ds{
    background-color: rgba(180, 208, 231, 1);
    height: 600px;
}
h1{
    font-size: 4.70rem;
    position: absolute;
    left:20rem;
    top: 5rem;
}
.ds-left{
    position: absolute;
    padding-top: 3.5rem;
    width: 20%;
    left: 20rem;
    top:15rem;
}
.pv_free{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    background-color: rgb(8, 95, 234);
    border-color: rgba(0, 97, 255, 1);
    padding: 0.75rem ;
    color: white;
}
.ds img{
    width: 40%;
    position:absolute;
    left: 42.5rem;
    top:18.5rem;
}
/*end region presentation*/
/*region container_site*/

#container_site{
   width: 55%;
   margin: auto;
}
h2{
    font-size: 2.40rem;
    margin-bottom: 2.25rem;
}
#container_site input{
   padding: 1rem;
   margin-left: 0.5rem;
}
.row_plan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
.col_3{
    width: calc(100% / 12 * 3);
    margin-left: 1.5rem;
    padding: 1rem;
    border: 1px solid grey;
}
.first{
    width: calc(100% / 12 * 3);
    border: 1.5px solid grey;
    text-align: center;
    padding: 0.75rem;
}
h3, h4, h5, .under_pl .col_3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.plan{
    margin-top: 1rem;
    padding: 1rem;
}
li{
    padding-bottom: 0.75rem;
    list-style-type: none;
}
.trial{
    background-color: rgb(8, 95, 234);
    border-color: rgba(0, 97, 255, 1);
    padding: 0.5rem 1.25rem;
    color: white;
    margin-left:0.5rem;
    margin-bottom: 1rem;
}
.small_bd{
    margin-top: 1rem;
    border: 0.25px solid grey;
    width: 25%;
    display: block;
}